/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variable */
:root {
    --main-color: #b2000f;
    --second-color: #3b0000;
    --text-color: #401b1b;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);

}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 4.5rem 0 3rem;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.container h3 {
    margin-bottom: 20px;
}

.about,
.sejarah,
.visiMisi {
    box-shadow: 0 6px 6px -6px #333;
    margin-top: 50px;
    padding: 0 0 50px 0;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logoNav {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 200px;
}

.bx {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: 0.7s;
}

.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: var(--second-color);
    transition: 0.7s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

.slider {
    height: 106vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 30%, transparent);
}

.slider .list .item .deskripsi {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item p {
    margin-bottom: 20px;
    color: var(--bg-color);
    font-size: 12px;

}

.slider .list .item h2 {
    color: var(--bg-color);
    font-size: 46px;
    text-transform: uppercase;
}

.slider .list .item .deskripsi p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3),
.slider .list .item.active .btn {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out forwards;

}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
    display: none;
}

.arrows button {
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #f6f6fe;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}

.thumbnail {
    position: absolute;
    bottom: 5px;
    z-index: 11;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 100px;
    height: 100px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1);
}

.thumbnail .item .deskripsi {
    position: absolute;
    inset: auto 10px 10px 10px;
    color: var(--bg-color);
    font-size: 10px;
    text-align: center;
}

/* ABOUT US */
.about {
    display: flex;
    flex-direction: column;
}

.aboutDesc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.aboutLeft img {
    border-radius: 20px;
}


.about h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
}

.about-list {
    padding: 15px;
}

.about-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.about-list img {
    width: 20px;
}

.sejarah {
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.sejarah img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 35px;
}


/* ---- Maps ---- */
.maps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    padding: 0 50px;
    justify-content: space-around;
    margin-top: 50px;
}

.maps>iframe {
    width: 100%;
    height: 100%;
}


/* ---- Karir ---- */
.careerPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* ========== CONTACT PAGE ========== */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.contact h1 {
    color: var(--second-color);
    font-size: 60px;
}

.contact p,
a {
    color: var(--se-color);
}

.contact a:hover {
    color: var(--main-color);
}

.contact p {
    margin-bottom: 40px;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    /* z-index: 2; */
}

.contact-container {
    /* position: absolute; */
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.input-field {
    font-size: 15px;
    background: rgba(21, 21, 21, 0.6);
    color: #ffffff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: var(--second-color);
    transition: 0.8s;
}

::-webkit-input-placeholder {
    color: #eee;
    opacity: 0.6;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(28, 28, 28, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: var(--second-color);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.alertMessage {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    display: none;
}

.alertMessage .successAlert {
    font-size: 15px;
    color: rgb(13, 202, 0);
    position: absolute;
    text-align: center;
    animation: buttons .2s linear;
    display: none;
}

.alertMessage .dangerAlert {
    font-size: 15px;
    color: rgb(212, 0, 0);
    position: absolute;
    text-align: center;
    animation: buttons .2s linear;
    /* display: none; */
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


/* ---- Footer ---- */
.footer {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 1rem 1rem 0 0;
}

.footer img {
    width: 160px;
    margin-top: 10px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}

.footer h2,
.footer p,
.footer a {
    font-size: 13px;
    font-weight: 200;
    color: var(--bg-color);
}

.footer-box a:hover,
.footer-box p:hover,
.footer-box h2:hover {
    color: var(--second-color);
}

.copyright-content {
    background: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
}

.copyright-content h4,
.copyright-content a {
    color: var(--bg-color);
    font-size: 12px;
    font-weight: 200;
}


/* RESPONSIVE */
@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 880px) {
    section {
        padding: 35px 0 20px;
    }

    .posts-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1rem;
        padding: 0 10px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1rem;
    }

    .logoSponsor {
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        padding: 0 20px;
        justify-content: center;
    }

    .logoSponsor img {
        width: 100px;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: initial;
    }

    .nav {
        padding: 20px 20px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.7s;
        border-radius: 0 90px 0 90px;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover {
        background: var(--main-color);
        color: var(--bg-color);
        transition: 0.7s;
        width: 80%;
        margin-left: 40px;
        border-radius: 60px;
    }

    #menu:checked~.navbar {
        clip-path: circle(144% at 100% 1%);
    }

    .about-text span {
        font-size: 10px;
    }

    .about-text h2,
    .heading h2,
    .newsletter h2 {
        font-size: 24px;
    }


}

@media (max-width: 638px) {
    .about-text {
        text-align: center;
    }

    .about-img {
        order: 2;
    }

    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        display: none;
    }
}