/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

/* Variable */
:root {
    --main-color: #b2000f;
    --second-color: #3b0000;
    --text-color: #401b1b;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);


}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

section {
    padding: 4.5rem 0 3rem;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.about,
.services,
.posts {

    box-shadow: 0 3px 3px -3px #333;
    margin-top: 50px;
    padding: 0 0 50px 0;
}

header {
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logoNav {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 200px;
}

.bx {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
    transition: 0.7s;
}

.btn {
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}

.btn:hover {
    background: var(--second-color);
    transition: 0.7s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}


/* =================== HOME =================== */
.home {

    display: flex;
    align-items: center;
}

.home-text {
    padding-left: 35px;
}

.home-text h1 {
    color: var(--bg-color);
    font-size: 2rem;

}

.home-text p {
    color: var(--bg-color);
    font-size: 10px;
    margin-bottom: 20px;
}

.slider {
    height: 106vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 30%, transparent);
}

.slider .list .item .deskripsi {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item p {
    margin-bottom: 20px;
    color: var(--bg-color);
    font-size: 12px;

}

.slider .list .item h2 {
    color: var(--bg-color);
    font-size: 46px;
    text-transform: uppercase;
}

.slider .list .item .deskripsi p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3),
.slider .list .item.active .btn {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out forwards;

}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-delay: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #f6f6fe;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}

.thumbnail {
    position: absolute;
    bottom: 5px;
    z-index: 11;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 100px;
    height: 100px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
    cursor: pointer;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1);
}

.thumbnail .item .deskripsi {
    position: absolute;
    inset: auto 10px 10px 10px;
    color: var(--bg-color);
    font-size: 10px;
    text-align: center;
}

/* ---- About ----- */
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}

.about-img img {
    border-radius: 3rem 0 3rem 3rem;

}

.about-text span {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2 {
    font-size: 1.7rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 1rem 0 2rem;
}

/* ---- Services ---- */

.services h1 {
    text-align: center;
}

.services h2 {
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 40px;
}

.layanan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.4rem;
}

.services p {
    font-size: 12px;
}

.services .boxServ {
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 20px;
}


.services .boxServ:hover {
    background: var(--second-color);
    color: var(--bg-color);
    transition: 0.7s;
}

.services .boxServ .bx {
    padding: 10px;
    border-radius: 50%;
    background: #f6f6fe;
    color: var(--main-color);
    font-size: 20px;
}


/* ---- Posts ----- */
.posts {
    background: #fbfbfb;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    font-weight: 300;
    color: var(--main-color);
}

.heading h2 {
    font-size: 1.7rem;
}

.boxPosts h3 {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.heading p {
    font-size: 12px;
}

.content {
    display: flex;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    padding: 0 50px;
}

.posts-container .boxPosts {
    background: var(--bg-color);
    padding: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.posts-container .boxPosts:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.posts-container .boxPosts img {

    object-fit: cover;
    object-position: center;
}

.boxPosts,
.boxPosts img {
    border-radius: 1rem;
}

/* ---- Newsletter ---- */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
}

.newsletter h2 {
    font-size: 1.7rem;
}

.newsletter form {
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    padding: 6px 10px;
    border-radius: 5rem;
}

.newsletter form input {
    border: none;
    outline: none;
    font-size: 12px;
}

.newsletter #email-box {
    width: 280px;
}

.newsletter .btn {
    padding: 12px 34px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

/* ---- Sponsor ----  */
.sponsor-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logoSponsor {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    padding: 0 20px;
    justify-content: space-between;
}

.logoSponsor img {
    width: 160px;
}


/* ---- Youtube ---- */
.youtube-container {
    max-width: 800px;
    margin: 0 auto;
}

.contentYT {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 50%;
}

.contentYT>iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* ---- Footer ---- */
.footer {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 1rem 1rem 0 0;
}

.footer img {
    width: 160px;
    margin-top: 10px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    margin-bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}

.footer h2,
.footer p,
.footer a {
    font-size: 13px;
    font-weight: 200;
    color: var(--bg-color);
}

.footer-box a:hover,
.footer-box p:hover,
.footer-box h2:hover {
    color: var(--second-color);
}

.copyright-content {
    background: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
}

.copyright-content h4,
.copyright-content a {
    color: var(--bg-color);
    font-size: 12px;
    font-weight: 200;
}


/* RESPONSIVE */
@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header {
        overflow: hidden;
    }
}

@media (max-width: 880px) {
    section {
        padding: 35px 0 20px;
    }

    .posts-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1rem;
        padding: 0 10px;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(220px, auto));
        gap: 1rem;
    }

    .logoSponsor {
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        padding: 0 20px;
        justify-content: center;
    }

    .logoSponsor img {
        width: 100px;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: initial;
    }

    .nav {
        padding: 20px 20px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.7s;
        border-radius: 0 90px 0 90px;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover {
        background: var(--main-color);
        color: var(--bg-color);
        transition: 0.7s;
        width: 80%;
        margin-left: 40px;
        border-radius: 60px;
    }

    #menu:checked~.navbar {
        clip-path: circle(144% at 100% 1%);
    }


    .about-text span {
        font-size: 10px;
    }

    .about-text h2,
    .heading h2,
    .newsletter h2 {
        font-size: 24px;
    }


}

@media (max-width: 638px) {
    .about-text {
        text-align: center;
    }

    .about-img {
        order: 2;
    }

    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        display: none;
    }

    .thumbnail .item p {
        display: none;
    }
}